<%= form_for @volunteer do | f | %>
<div class="form-inline">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="form-inline">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class="form-inline">
    <%= f.label :email %>
    <%= f.text_field :email %>
</div>

<div class="form-inline">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
</div>

<div class="form-inline">
  <%= f.label :notes %>
  <%= f.text_area :notes %>
</div>

  <fieldset class="form-group">
    <legend>Assignment</legend>
    <label class="custom-control custom-radio">
      <%= f.radio_button :leader_type, :group, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Class</span>
    </label>
    <label class="custom-control custom-radio">
      <%= f.radio_button :leader_type, :location, class: "custom-control-input" %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Station</span>
    </label>
</feildset>
<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
