<div class="container w-100">
  
  <div class="row justify-content-center">
    <div class="col">
      <h1>Volunteers</h1>
    </div>
    <div class="col">
      <div class="input-group align-middle">
	<input type="text" class="form-control" placeholder="Search for...">
	<span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Search</button>
	</span>
      </div>
     </div>
  </div>
  
  <div class="row justify-content-center mt-4">
    
    <div class="col-lg-12 mb-3 ml-4">
      <a class="btn btn-primary btn-sm" href="<%= new_volunteer_path %>">Add New</a>
      <a class="btn btn-outline btn-sm" href="<% %>">Print</a>
    </div>
    <div class="col-xl-12">
      <table class="table table-sm table-hover">
	<thead>
	  <tr>
	    <th></th>
	    <th>Name</th>
	    <th>Assignment</th>
	    <th>Notes</th> <!-- this is for the notes icon which will have a pop over on hover -->
	    <th>Phone</th>
	    <th>Email</th>
	  </tr>
	</thead>
	
	<tbody>
	  <% @volunteers.sort_by_last_name.each do |volunteer| %>
	  <tr>
	      <td></td>
	      <td onclick="window.location='<%= volunteer_path(volunteer)%>';" style='cursor: pointer;'><%= "#{volunteer.first_name} #{volunteer.last_name}" %></td>
	      <td><%= "#{volunteer.leader.name_grade}" %></td>
	      <td></td>
	      <td><%= "#{volunteer.phone}" %></td>
	      <td><%= "#{volunteer.email}" %></td>
	    </div>
	    <td><%= link_to "Edit", edit_volunteer_path(volunteer) %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </div>
  </div>
  
</div>

