<hr>
<h3>Child Info</h3>
<hr>
<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Name</label>
  <div class="col-sm-4">
    <%= f.text_field :first_name, class: "form-control" %>
    <small class="form-text text-muted">First Name</small>
  </div>
  <div class="col-sm-4">
    <%= f.text_field :last_name, class: "form-control" %>
    <small class="form-text text-muted">Last Name</small>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-8 offset-md-3">
    <div class="custom-control custom-radio">
      <%= f.radio_button :gender, :male, class: "custom-control-input" %>
      <label class="custom-control-label" for="kid_gender_male">Male</label>
    </div>
    <div class="custom-control custom-radio">
      <%= f.radio_button :gender, :female, class: "custom-control-input" %>
      <label class="custom-control-label" for="kid_gender_female">Female</label>
    </div>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-3 text-sm-right col-form-label">Birthday</label>
  <div class="col-sm-8">
    <%= f.date_select :birthdate, { :start_year => 2004, :end_year => 2017, :prompt => { day: 'Day', month: 'Month', year: 'Year' }, :use_short_month => true, :order => [:day, :month, :year]}, class: "custom-select col-sm-3" %>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-3 text-sm-right col-form-label">Last Grade Completed</label>
  <div class="col-sm-8">
    <%= f.select :last_grade_id, grade_types.map.with_index{ |s, i| [s, i]}, {}, {class: "custom-select"}  %>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-3 offset-md-3">
      <div class="custom-control custom-checkbox">
	<%= f.check_box :church_member, class: "custom-control-input", checked: true %>
	<label class="custom-control-label" for="kid_church_member">Regualr Attendee</label>
      </div>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Invited By</label>
  <div class="col-sm-8 ">
    <%= f.text_field :invited_by, class: "form-control" %>
    <small class="form-text text-muted">If you were invited by a member of Brushy Creek please give their name.</small>
  </div>
</div>

<div class="form-group row">
  <label class="col-sm-3 text-sm-right col-form-label">Class Buddy</label>
  <div class="col-sm-8">
    <%= f.text_field :buddy_request, class: "form-control" %>
    <small class="form-text text-muted">If you would like your child to be in a class woth a specific friend please give their name and we make every effort to place them together..</small>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-8 offset-3">
    <div class="custom-control custom-checkbox">
      <%= f.check_box :can_photograph, checked: true, class: "custom-control-input" %>
      <label class="custom-control-label" for="kid_can_photograph">Can be photographed</label>
    </div>
    <small class="form-text text-muted">Is your child allowed to be inclueded in photographs or videos relating to VBS.</small>
    </div>
</div>

<div class="form-group row">
  <div class="col-sm-8 offset-md-3">  
    <div class="custom-control custom-checkbox">     
      <%= f.check_box :allergies, class: "custom-control-input" %>
      <label class="custom-control-label" for="kid_allergies">Allergies</label>
    </div>
  </div>
  <div class="col-sm-8 offset-md-3">
    <%= f.text_area :allergies_notes, placeholder: "Alergies, Epipen, etc.",  class: "form-control"%>
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6 offset-md-3">
      <div class="custom-control custom-checkbox">
	<%= f.check_box :medical_issues, class: "custom-control-input" %>
	<label class="custom-control-label" for="kid_medical_issues">Other Medical Issues</label>
      </div>
  </div>
  <div class="col-sm-8 offset-md-3">
    <%= f.text_area :medical_issues_notes, placeholder: "Bloody Noses, etc.",  class: "form-control"%>
  </div>
</div>

<% if edit == 1 %>
<div id="admin-kid-form" class="jumbotron">
  <div class="container">
    <hr>
    <h3>Admin Only</h3>
    <hr>

    <div class="form-group row">
      <div class="col-sm-8 offset-md-3">
	<div class="custom-control custom-checkbox">
	  <%= f.check_box :highlight, class: "custom-control-input" %>
	  <label class="custom-control-label" for="kid_highlight">Highlight</label>
	</div>
	<small class="form-text text-muted">Add a highlight when the kid is displayed on other pages</small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 text-sm-right col-form-label">Notes</label>
      <div class="col-sm-8">
	<%= f.text_area :notes, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 text-sm-right col-form-label">Assign to class</label>
      <div class="col-sm-8">
	<%= f.collection_select :group_id, Group.sort_by_grade.sort_by_name.all, :id, :name_grade, {include_blank: 'Unassigned'}, class: "custom-select"%>
      </div>
    </div>
  </div>
</div>
<% end %>
