  <%= form_for(@kid) do |f| %>
  <div class="form-group">
    <%= f.label :first_Name%>
    <%= f.text_field :first_name, class: "form-control" %>
    <%= f.label :last_Name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.label :gender %>
  <%= f.select :gender, options_for_select([['male'],['female']]), {}, {class: "custom-select"} %>
  </div>
  <div class="form-inline">
    <%= f.label :Birthdate %>
    <%= f.date_select :birthdate, {:start_year => 2004, :end_year => 2017, :prompt => [day: 'Select Day', month: 'Sellect Month', year: 'Select Year'], :order => [:day, :month, :year]}, class: "custom-select" %>
  </div>
  <div class="form-group">
    <%= f.label :Last_Grade_Completed %>
    <%= f.select :last_grade_id, options_for_select([['Pre-k', 0],
	['Pre-K', 1],
	['4K', 2],
	['5K', 3],
	['1st', 4],
	['2nd', 5],
	['3rd', 6],
	['4th', 7],
	['5th', 8],
	['5th', 9],
	['6th', 10]]),{}, {class: "custom-select"}  %>
  </div>
  <label class="custom-control custom-checkbox">
    <%= f.check_box :allergies, class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Allergies</span>
  </label>
  <%= f.text_area :allergies_notes%>
  <%#= Add the rest of the kid info before putting the parent and pick upinfo %>
  <label class="custom-control custom-checkbox">
    <%= f.check_box :highlight, class: "custom-control-input" %>
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">Highlight</span>
  </label>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Register",  class: "btn btn-primary"%>
  <% end %>
