<% content_for :title do %>
New Registration
<% end %>

<div class="container">
  <h1>Register New Child </h1>

  <div class="row">
    <div class="col-md-12">
      <%= form_for(@kid) do |f| %>
      <%= f.label :first_Name %>
      <%= f.text_field :first_name %>
      <%= f.label :last_Name %>
      <%= f.text_field :last_name %>
      <%= f.label :Birthdate %>
      <%= f.text_field :birthdate %>
      <%= f.label :Last_Grade_Completed %>
      <%= select_tag(:last_grade_completed, options_for_select([['Pre-k', 0],['  %>
      <br>
      <%= button_tag 'Submit' %>
      <% end %>
    </div>
  </div>
</div>

