<% if i.even? %>
  <% rowbg = 'bg-light' %>
<% else %>
  <% rowbg = '' %>
<% end %>

<div class="<%= rowbg %> py-3 border-bottom">
  <div class="float-right pr-3">
    <div class="row">
      <a class="btn btn-primary btn-sm align-middle" href="<%= add_new_family_guardian_path(f) %>">Add Guardian</a>
    </div>

  </div>
  <div class="row">
    
    <div class="col-xl-4 col-lg-4 col-sm-12 row mr-3"> 
      <div class="col-xl-6 col-md-6 col">
	<strong class="my-1"><i class="fas fa-angle-double-right pr-1 text-success"></i><a href="<%= edit_guardian_path(f.head)%>"><%= f.head.full_name %></a></strong>
	<p>
	  <%= f.head.phone %>
	</p>
      </div>
      
      <div class="col">
	<% f.guardians.each do |g| %>
	  <% unless g.head? %>
	    <p>
	      <strong><a href="<%= edit_guardian_path(g)%>"><%= g.full_name %></a></strong>
	    </p>
	  <% end %>
	<% end %>
      </div>   
    </div>
    
    <div class="col row border-left border-secondary">
      <% if f.kids %>
	<% f.kids.each do |k| %>
	  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
	    <strong><a href="<%= edit_kid_path(k) %>"><%= k.full_name %></a></strong> 
	    <h6>
	      Age: <%= k.age %>
	    </h6>
	      <% unless !k.group %>
		<h6>
		  Class: <%= k.group.name_grade %>
		</h6>
	      <% end %>
	  </div>
	<% end %>
      <% end %>
    </div>
  </div>
  
</div>
