<fieldset>
  <h4>Contact Info</h4>
  <%= f.fields_for :guardians do |ff| %>
    <% if ff.object.is_head == true %>
      <label>Your name:</label>
      <%= ff.text_field :first_name, :placeholder => "First" %>
      <%= ff.text_field :last_name, :placeholder => "Last" %>
    </br>
    <label>Your phone number:</label>
    <%= ff.text_field :phone %>
    </br>
    <%= ff.text_field :address, :placeholder => "Address" %>
    <%= ff.text_field :city, :placeholder => "City" %>
    <%= ff.text_field :state , :placeholder => "State" %>
    <%= ff.text_field :zipcode , :placeholder => "zipcode" %>
    <%= ff.hidden_field :is_head, :value => true %>
    </br>
    <h4>Pickup/Emergency Contacts</h4>
    <p>Additonal people we can contact in an emergency. They are also authorized to sign your child out.</p>
  <% else %>
    <label>Contact Name:</label>
    <%= ff.text_field :first_name, :placeholder => "Last" %>
    <%= ff.text_field :last_name, :placeholder => "Last" %>
    <%= ff.hidden_field :is_head, :value => false %>
    </br>
  <% end %>
<% end %>

<%= f.fields_for :kids do |ff| %>
    <%= render partial: "kids/kid_form", locals: {f:ff, admin: admin} %>
<% end %>
  
  
</fieldset>
