<% content_for :title do %>
Families Index
<% end %>


<div class="container-fluid">
  <a class="btn btn-secondary btn-lg btn-block" href="<%= email_list_families_path %>" >Get Familie email</a>  
  <div class="d-flex justify-content-between align-items-center">
    <h1>Familes</h1>
    <div>
      <%= form_tag(families_path, method: :get, class: "input-group") do %>
	<%= text_field_tag :term, params[:term], placeholder: "Search for...", class: "form-control" %>
	<div class="input-group-append">
          <%= button_tag 'Search', class: "btn btn-secondary" %>
	</div>
      <% end %>
    </div>
  </div>
  <a class="btn btn-primary btn-sm my-3" href="<%= new_family_path %>">Add New Family</a>
  <div class="border-top">
    <% @fams.each.with_index do |family, index| %>
      <%= render partial: 'family_line', locals: {f: family, i: index} %>
    <% end %>
    </div>
</div>
