<% content_for :title do %>
Families Index
<% end %>


<div class="container w-100">
  
  <div class="row justify-content-center">
    <div class="col">
      <h1>Familes</h1>
    </div>
    <div class="col-6">
      <%= form_tag(families_path, method: :get, class: "input-group") do %>
      <%= text_field_tag :term, params[:term], placeholder: "Search for...", class: "form-control" %>
      <span class="input-group-btn">
        <%= button_tag 'Search', class: "btn btn-secondary" %>
      </span>
      <% end %>
    </div>
  </div>
  
  <div class="row justify-content-center mt-4">
    
    <div class="col-lg-12 mb-3 ml-4">
      <a class="btn btn-primary btn-sm" href="<%= new_family_path %>">Add New</a>
    </div>
    <div class="col-xl-12">
      <% @fams.each do |family| %>
	<div>
	  <%= family.head.full_name %>
	</div>
      <% end %>
    </div>
  </div>
</div>
