<% content_for :title do %>
New Registration
<% end %>

<div class="container">
  <h1>Register Your Family </h1>
  <%#= render partial: "errors", locals: {family: @family} %>
  <%= form_for @family do |f| %>
    <%= render partial: "pub_family_form", locals: {fam: @family, f: f, admin: 0} %>
    <%= f.fields_for :kids do |ff| %>
      <%= render partial: "kids/kid_form", locals: {f:ff, admin: 0} %>
    <% end %>
    <br>
    <div class="">
      <div class="">
      <%= f.submit "Register", data: {"diable-with":"Saving..."}, class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>

