<div class="container-fluid w-75">
  <div class="">
    <h3> Parents/Guradians:</h3>
  </div>
  <div class="parents row">
    <% @family.guardians.each do |g| %>
      <div class="col">
	<div class="bg-light p-1">
	  <% if g.head? %>
	    <i class="fas fa-angle-double-right pr-1 text-success"></i>
	  <% end %>
	  <strong><%= g.full_name %></strong> 
	</div>
	<address>
	  <% unless g.address.blank? %>
	    <%= g.address%>
	    <br>
	    <%= g.city %> <%=g.state %>, <%=g.zipcode%>
	    <br>
	  <% end %>
	  <abbr title="Phone">P:</abbr>
	  <%= g.phone %>
	  <br>
	  <% unless g.email.blank? %>
	    <abbr title="Email">E:</abbr>
	    <%= g.email %>
	  <% end %>
	</address>
	<hr>
      </div>
    <% end %>
  </div>
  <hr>
  <% @family.kids.each do | kid | %>
    <div>
      <div class="row">
	
	<div class="col-4">
	  <div class="bg-light p-1">
	    <strong><%= kid.full_name %></strong>
	  </div>
	  <p>
	    Age: <%= kid.age %>
	    <br>
	    Last grade: <%= kid.grade %>
	  </p>

	</div>
	<div class="col">
	  <%= form_with(model: kid, local: false) do |f| %>
	    <div class="input-group">
	      <%= f.collection_select :group_id, Group.sort_by_grade.sort_by_name.all, :id, :name_grade_count, {include_blank: 'Unassigned'}, class: "custom-select" %>
		<div class="input-group-append">
		  <%= f.submit "Assign", data: {"diable-with":"Saving..."}, class: "btn btn-primary" %>
		  </div>
	    </div>
	  <% end %>
	</div>
      </div>
      <hr>
    </div>
  <% end %>
</div>
