<div  id="kids-div" class="row mx-3 mt-2 justify-content-center">
  <% @unassigned_kids.sort_by_grade.sort_by_last_name.each do | kid | %>
  <div class="col-lg-2 col-md-3 col-sm-4 h-100">
    <div id="kid_<%= kid.id %>" class="kidcard p-2 m-2 bg-primary rounded" kid-id="<%= kid.id %>" draggable="true">
      <p><strong><%= kid.full_name %></strong> - <%= kid.current_grade %></p>
      <p>Buddy: <%= kid.buddy_request %></p>
    </div>
  </div>
  <% end %>
</div>
