<div  id="kids-div" class="">
  <% @unassigned_kids.sort_by_grade.sort_by_last_name.each do | kid | %>
    <div id="kid_<%= kid.id %>" class="kidcard p-2 m-2 bg-primary rounded" data-kid-id="<%= kid.id %>" draggable="true">
      <p><strong><%= kid.full_name %></strong> - <%= kid.current_grade %></p>
      <% unless kid.buddy_request.empty? %>
      <p>Buddy: <%= kid.buddy_request %></p>
      <% end %>
    </div>
  <% end %>
</div>
