<%= content_for :title do %>
Edit: <%= "#{@group.name_grade}" %>
<% end %>

<div class="container w-50">
  <h1>Edit: <strong><%= "#{@group.name_grade}" %></strong></h1>
  </br>
  <%= form_for @group do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <div class="form-group row">
    <div class="col-sm-10 offset-1">
      <%= f.submit 'Save',  class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
